<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Transaction</title>
</head>
<body class="background">
    <h1 class="primary">Make a Transaction</h1>
    <form method="POST" action="/transact">
        <!-- Your form fields go here -->
        <label for="amount" class="textcolor">Amount:</label>
        <input type="number" name="amount" required>
        <label for="user" class="textcolor">Username to give:</label>
        <input type="text" name="user" required>
        <button type="submit">Submit</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <a href="/">Go back</a>
    <p class="bottom-right">© 2024 Elsalhy. Co. All rights reserved.</p>
</body>
</html>

